:root {
  --ifm-color-primary: #0f766e;
  --ifm-color-primary-dark: #0c5f5a;
  --ifm-color-primary-darker: #0b534f;
  --ifm-color-primary-darkest: #083d3a;
  --ifm-color-primary-light: #138a81;
  --ifm-color-primary-lighter: #179f95;
  --ifm-color-primary-lightest: #1bb3a8;
}


