.yearGroupHeading {
  margin: 1rem 0.75rem 0.5rem;
}

.customPanelTitle {
  font-weight: var(--ifm-font-weight-semibold);
}

.customMenuGroupTitle {
  font-weight: var(--ifm-font-weight-semibold);
}

.customSubmenu {
  margin-left: 0.75rem;
}

.customMenuList {
  margin: 0;
}


