apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hack-for-facts-eb-client
  namespace: hack-for-facts
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: hack-for-facts-eb-client
  minReplicas: 2
  maxReplicas: 8
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
