apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: istio-transparenta-client-virtualservice
  namespace: hack-for-facts
spec:
  hosts:
    - "hack-for-facts.devostack.com"
    - "transparenta.eu"
  gateways:
    - istio-system/istio-https-gateway
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: hack-for-facts-eb-client
            port:
              number: 80
      retries:
        attempts: 3
        perTryTimeout: 30s
      timeout: 30s
