name: Commitlint

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: |
          corepack enable
          yarn install --frozen-lockfile
      - name: Validate commits with commitlint
        run: |
          npx commitlint --from=${{ github.event.pull_request.base.sha }} --to=${{ github.sha }} --verbose


